body {
  background: url(./bg.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  scale: 0.9;
  margin-top: 250px;
  margin-left: 200px;
}
h1{
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
}

a{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-left: 100px;
  text-decoration: none;
}